BODY {background-color: black; color: #999999; font-family: Arial; font-size: 11px; text-align:center;}
.oscamlogo {border: 0 none;}
.header {
	background: black url("image?i=IC_ni-doscam") no-repeat center 10px;
	width: 630px;
	height: 100px;
	margin: 0 auto;
}
.header .headline1 {
	text-align: right;
	font-size: 12px;
}
P {color: white; }
P.blinking {text-decoration: blink; font-weight:bold; font-size:large; color:red;}
H2 {color: #AAAAAA; font-family: Arial; font-size: 32px; line-height: 32px; text-align:center; margin-top:0px; margin-bottom:0px}
H4 {color: #AAAAAA; font-family: Arial; font-size: 12px; line-height: 9px; text-align:center}
H4.styleauthor:after {content:"OneOfNine for neutrino-images.de";}
TABLE {border-spacing:1px; border:5px; padding:0px; margin-left:auto; margin-right:auto;border-radius:3px;-webkit-border-radius:3px; background-color:#1d1d1d;}
TH {
	height:10px;border:1px; font-family: Arial; font-size: 11px; padding:5px;
	background-image: -ms-linear-gradient(top, #333333 0%, #000000 100%);
	background-image: -moz-linear-gradient(top, #333333 0%, #000000 100%);
	background-image: -o-linear-gradient(top, #333333 0%, #000000 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #333333), color-stop(1, #000000));
	background-image: -webkit-linear-gradient(top, #333333 0%, #000000 100%);
	background-image: linear-gradient(to bottom, #333333 0%, #000000 100%);
	/* IE */
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#333333, endColorstr=#000000);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#333333, endColorstr=#000000)";
	color: #fd6d13;}
TH.statuscol0 {text-align:center;width:10px;}
TH.statuscol1 {text-align:center;}
TH.statuscol2 {text-align:center;}
TH.statuscol3 {text-align:center;}
TH.statuscol4 {text-align:center;}
TH.statuscol5 {text-align:center;}
TH.statuscol6 {text-align:center;}
TH.statuscol7 {text-align:center;}
TH.statuscol8 {text-align:center;}
TH.statuscol9 {text-align:center;}
TH.statuscol10 {text-align:center;}
TH.statuscol11 {text-align:center;}
TH.statuscol12 {text-align:center;}
TH.statuscol13 {text-align:center;}
TH.statuscol14 {text-align:center;}
TH.statuscol15 {text-align:center;}
TH.statuscol16 {text-align:center;}
TD {height:10px; border:0px; font-family: Arial; font-size: 11px; padding:5px; background-color:#1d1d1d; color: #ffffff;text-align: left}
TD.centered {text-align:center;}
TD.statuscol0 {text-align:center;width:10px;}
TD.statuscol1 {text-align:center;}
TD.statuscol2 {text-align:center;}
TD.statuscol3 {text-align:center;}
TD.statuscol4 {text-align:center;}
TD.statuscol5 {text-align:center;}
TD.statuscol6 {text-align:center;}
TD.statuscol7 {text-align:center;}
TD.statuscol8 {text-align:center;}
TD.statuscol9 {text-align:center;}
TD.statuscol10 {text-align:center;}
TD.statuscol11 {text-align:center;}
TD.statuscol12 {text-align:center;}
TD.statuscol13 {text-align:center;}
TD.statuscol14 {text-align:center;}
TD.statuscol14 A {text-decoration: none;}
TD.statuscol15 {text-align:center;}
TD.statuscol16 {text-align:center;}
TD.statuscol16 A {text-decoration: none;}
TD.usercol0 {text-align:center;}
TD.usercol1 {white-space: normal;}
TD.usercol2 {text-align:center;}
TD.usercol3 {text-align:center;}
TD.usercol4 {text-align:center;}
TD.usercol5 {text-align:center;}
TD.usercol6 {text-align:center;}
TD.usercol7 {text-align:center;}
TD.usercol8 {text-align:center;}
TD.usercol9 {text-align:center;}
TD.usercol10 {text-align:center;}
TD.usercol11 {text-align:center;}
TD.usercol12 {text-align:center;}
TD.usercol13 {text-align:center;}
TD.usercol14 {text-align:center;}
TD.usercol15 {text-align:center;}
TD.usercol16 {text-align:center;}
TD.usercol17 {text-align:center;}
TD.usercol18 {text-align:center;}
TD.usercol19 {text-align:center;}
TD.usercol20 {text-align:center;}
TD.usercol21 {text-align:center;}
TD.menu {color: #fd6d13; background-color: #1d1d1d; font-family: Arial; font-size:14px; font-weight:bold;white-space: normal; background: #000;
	border: 1px solid #1d1d1d;
	box-shadow: 0px 1px 0px #4d4d4d inset;
	border-radius: 5px;}
TD.menu_selected {color:#fd6d13; background-color: #fd6d13; font-family: Arial; font-size:14px; font-weight:bold;font-style:bold; background: #000;
	border: 1px solid #1d1d1d;
	box-shadow: 0px 1px 0px #fd6d13 inset;
	border-radius: 5px;}
TD.configmenu {color:#fd6d13; background-color: #1d1d1d; font-family: Arial; font-size:11px; font-weight:bold;background: #000;
	border: 1px solid #1d1d1d;
	box-shadow: 0px 1px 0px #4d4d4d inset;
	border-radius: 5px;}
TD.configmenu_selected {color:#fd6d13; background-color: #1d1d1d; font-family: Arial; font-size:11px; font-weight:bold; font-style:bold; background: #000;
	border: 1px solid #1d1d1d;
	box-shadow: 0px 1px 0px #fd6d13 inset;
	border-radius: 5px;}
td.menu:hover,
td.configmenu:hover {
	box-shadow: 0px -1px 0px #4d4d4d inset; text-decoration:none;
}
td.menu_selected:hover,
td.configmenu_selected:hover {
	box-shadow: 0px -1px 0px #fd6d13 inset; text-decoration:none;
}
TD.subheadline {height:10px; border:0px; font-family: Arial; font-size: 11px; font-weight:bold; padding:5px;
	background-image: -ms-linear-gradient(top, #333333 0%, #000000 100%);
	background-image: -moz-linear-gradient(top, #333333 0%, #000000 100%);
	background-image: -o-linear-gradient(top, #333333 0%, #000000 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #333333), color-stop(1, #000000));
	background-image: -webkit-linear-gradient(top, #333333 0%, #000000 100%);
	background-image: linear-gradient(to bottom, #333333 0%, #000000 100%);
	/* IE */
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#333333, endColorstr=#000000);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#333333, endColorstr=#000000)";
	color: #fd6d13;
 }
TD.subheadline A {text-decoration: none;}
TR.s TD {background-color:#1d1d1d; color: #ffffff; font-weight:bold;}
TR.l TD {background-color:#1d1d1d; color: #ffffff; font-weight:bold;}
TR.n TD {background-color:#1d1d1d; color: #ffffff; font-weight:bold;}
TR.h TD {background-color:#1d1d1d; color: #ffffff; font-weight:bold;}
TR.r TD {background-color:#1d1d1d; color: #ffffff; font-weight:bold;}
TR.p TD {background-color:#1d1d1d; color: #ffffff; font-weight:bold;}
TR.c TD {background-color:#1d1d1d; color: #ffffff; font-weight:bold;}
TR.a TD {background-color:#1d1d1d; color: #ffffff; font-weight:bold;}
TR.online TD {background-color:#448833;}
TR.online TD.usercol5 {background-color:#448833;}
TR.expired TD {background-color:#448833;}
TR.connected TD {background-color:#555511;}
TR.disabled TD:first-child IMG.icon {background-color:#00AA00;}
TR.disabledreader TD:first-child IMG.icon {background-color:#00AA00;}
TR.scanusbsubhead TD {background-color:#fdfbe1;}
TR.e_valid TD {background-color:#448833;text-align:center; font-family:"Courier New", monospace;}
TR.e_expired TD {background-color:#880b0b;text-align:center; font-family:"Courier New", monospace;}
TR.e_header TD {text-align:center; font-family:"Courier New", monospace;}
TR.scanusbsubhead TD {background-color: #1d1d1d; color: #999999;}
HR {height:1px; border-width:0; color:white; background-color:#AAAAAA}
DIV.log {border:1px #000000; background-color: #1d1d1d; padding:10px; font-family:"Courier New", monospace; color:#999999; font-size: 11px; word-wrap:break-word; text-align:left; }
DIV.sidlist {border:1px #1d1d1d; background-color: #1d1d1d; padding:2px; font-family:"Courier New", monospace ; color:#ffffff; font-size: 11px; word-wrap:break-word; text-align:left;}
DIV.message {font-family: Arial; font-size: 12px;font-weight:bold;}
DIV.div_notifier {height:14px;width:14px;border-radius:7px;-webkit-border-radius:7px;background-color:red;margin-left:4px;text-align:center;float:right;}
DIV.debugmenu {line-height: 20px;}
DIV.logmenu {line-height: 20px;}
DIV.filterform {margin: 10px;}
DIV.warning {color: #ff0000}
DIV.footer{background-color: #1d1d1d; margin: 10px auto 20px; padding: 10px 0; border: 2px solid #151515; text-align: center; width: 750px; border-radius: 7px; -webkit-border-radius:7px}
TABLE.menu {border-spacing:1px; margin-bottom: 10px; border:1px; padding:0px; margin-left:auto; margin-right:auto; background-color: #000000;}
TABLE.status {border-spacing:1px; border:1px; padding:0px; background-color: #000000; empty-cells:show; border-radius:3px;-webkit-border-radius:3px;}
TABLE.readers {border-spacing:1px; border:1px; padding:0px; background-color: #000000; empty-cells:show; border-radius:3px;-webkit-border-radius:3px;}
TABLE.stats {border-spacing:1px; border:1px; padding:0px; background-color: #000000; empty-cells:show; border-radius:3px;-webkit-border-radius:3px;}
TABLE.users {border-spacing:1px; border:1px; padding:0px; background-color: #000000; empty-cells:show; border-radius:3px;-webkit-border-radius:3px;}
TABLE.user_totals {border-spacing:1px; border:1px; padding:0px; background-color: #000000; empty-cells:show; border-radius:3px;-webkit-border-radius:3px;}
TABLE.ECM_totals {border-spacing:1px; border:1px; padding:0px; background-color: #000000; empty-cells:show; border-radius:3px;-webkit-border-radius:3px;}
TABLE.config {width:750px;border-spacing:1px; border:1px; padding:0px; background-color: #000000; empty-cells:show; border-radius:3px;-webkit-border-radius:3px; }
TABLE.invisible TD {border:0px; font-family:Arial; font-size: 12px; padding:5px; background-color:#666666;}
TABLE.configmenu {line-height: 16px; margin-bottom: 10px;  background-color: #000000;}
TEXTAREA.bt {font-family: Arial; font-size: 12px; background-color: #666666; border:3px #666666; color: #ffffff;}
TEXTAREA.editor {width:95%; height:508px; border:1px #1d1d1d; background-color: #1d1d1d; padding:8px 10px; font-family:"Courier New", monospace; color: #999999; font-size: 11px; word-wrap:break-word; text-align:left;}
TEXTAREA {width:95%; height:100px; border:1px #1d1d1d; background-color: #666666; padding:1px; font-family:Arial; color: #ffffff; font-size: 12px; word-wrap:break-word; text-align:left;}
A.debugls:link {color: white;background-color:red;}
A.debugls:visited {color: white;background-color:red;}
A:link {color: #ffffff; text-decoration:none;}
A:visited {color: #ffffff; text-decoration:none;}
A:active {color: #050840; text-decoration:none;}
A:hover {color: #fd6d13; text-decoration:none;}
A:hover IMG.icon {border: 1px solid white;width:20px;height:20px;}
A.tooltip  {position: relative; text-decoration: none; cursor:default;}
A.tooltip1 {position: relative; text-decoration: none; cursor:default;color:red;}
A.tooltip  SPAN {display: none; z-index:99;}
A.tooltip1 SPAN {display: none; z-index:99;}
A:hover SPAN {display: block;position: absolute;top: 2em; right: 1em; margin: 0px;padding: 10px;color: #ffffff;font-weight: normal;background: #1d1d1d;text-align: left;border: 1px solid #666;}
IMG {border: 0 none;}
IMG.icon {border: 0px solid;width:22px;height:22px;background-color:#fd6d13;border-radius:3px;-webkit-border-radius:3px;}
IMG.clientpicon {height:40px;width:80px;border: 0 none;}
IMG.clientpiconstatus {border: 0 none;}
rect.graph_bg {fill:#000;}
text.graph_error {text-anchor:middle;fill:red}
text.graph_grid_txt {fill:#666;text-anchor:end;style:font-size:12px}
path.graph_grid {stroke:#666;stroke-opacity:0.5}
INPUT[type=text] {background-color: #666666;border: 1px solid #666666;color: #ffffff;-moz-border-radius: 8px;}
INPUT[type=checkbox] {background-color: #666666; color: #ffffFF; border:1px solid black;}
INPUT[type=submit] {
	background-color: #000;
	border: 1px solid #000;
	border-radius: 3px;

	background-image: -ms-linear-gradient(top, #333333 0%, #000000 100%);
	background-image: -moz-linear-gradient(top, #333333 0%, #000000 100%);
	background-image: -o-linear-gradient(top, #333333 0%, #000000 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #333333), color-stop(1, #000000));
	background-image: -webkit-linear-gradient(top, #333333 0%, #000000 100%);
	background-image: linear-gradient(to bottom, #333333 0%, #000000 100%);
	/* IE */
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#333333, endColorstr=#000000);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#333333, endColorstr=#000000)";

	box-shadow: 0 0 3px #888;
	color: #ccc;
}
INPUT[type=submit]:hover {
	background-image: -ms-linear-gradient(top, #fd6d13 0%, #000000 100%);
	background-image: -moz-linear-gradient(top, #fd6d13 0%, #000000 100%);
	background-image: -o-linear-gradient(top, #fd6d13 0%, #000000 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fd6d13), color-stop(1, #000000));
	background-image: -webkit-linear-gradient(top, #fd6d13 0%, #000000 100%);
	background-image: linear-gradient(to bottom, #fd6d13 0%, #000000 100%);
	/* IE */
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#fd6d13, endColorstr=#000000);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#fd6d13, endColorstr=#000000)";

	box-shadow: 0 0 3px #fd6d13;
	color: #fff;
}
INPUT[type=submit]:disabled {
	background-image: none;
	background-color: #111;
	color: #888;
}
INPUT[type=submit]:disabled:hover {
	box-shadow: 0 0 3px #888;
}
SELECT {background-color: #666666; border: 1px solid #666666; -moz-border-radius: 5px; color: #ffffff;}
SPAN.e_valid {background-color:#E6FEBF;}
SPAN.e_expired {background-color:#fff3e7;}
SPAN.span_notifier {padding:1px 3px;border-radius:10px;color:#fff;margin-left:2px;background:#f00;}
SPAN.idlesec_normal {font-family: Arial; font-size: 11px;color: white; font-weight:bold;}
SPAN.idlesec_alert {font-family: Arial; font-size: 11px;color: red; font-weight:bold;}
SPAN.global_conf {color: blue; font-size: 12px; font-family: Arial; cursor: default; padding: 4px;}
SPAN.user_totals_headline {color: #ffffff}
SPAN.debugt {color: #ffffff}
